{% extends "_layouts/default.njk" %}

{% block body %}
  <div class="content">
    <strong> Olá, {{user.name}}</strong>
    <p>Inicie um agendamento escolhendo um profissional abaixo:</p>

    <ul class="providers">
    <!-- Esse providers está vindo o DashboardController.js-->
      {% for provider in providers %}
        <!--Irá mostrar todos os providers -->
        <li class="provider">
          <div>
            <img src="/files/{{provider.avatar}}"/>
            <strong>{{provider.name}}</strong>
           <!--Agendando com um provider -->
          </div>
          <!-- Passando um proivder especifico pela URL-->
          <a href="/app/appointments/new/{{ provider.id}}">+</a>
        </li>
      {% endfor %}
    </ul>
    <!--Botão de logout -->
    <a href="/app/logout" class="logout">sair</a>
  </div>

{% endblock %}

<!-- -->
