<!-- Puxando os layouts padrão-->
{% extends "_layouts/default.njk" %}

{% block body %}
<div class="content">
  <strong>Agendando horário</strong>

  <div class="provider">
    <div>
    <!-- Esse provider é a variavel definida no AppointmentController.js-->
      <img src="/files/{{ provider.avatar }}">
      <strong>{{ provider.name}}</strong>
    </div>
  </div>
  <form action="/app/appointments/new/{{ provider.id }}" method="post">
    <input type="text" class="flatpickr" placeholder="Escolha uma data">
    <div id="hours">

    </div>

    <button type="submit">agendar</button>
  </form>
</div>
<script type="text/javascript">

  flatpickr('.flatpickr', {//puxando o flatpickr pela classe
    minDate: new Date(),// data minima, hoje é a data minima
    dateFormat: 'd/m/Y',// formato da data
    onChange:function(date){
      fetch(`/app/available/{{provider.id}}?date=${date[0].getTime()}`).then(function(response){
        response.text().then(function(html){
          document.getElementById('hours').innerHTML =html
        })
      })
    }
  })
</script>
{% endblock %}