body{
    background-color: #232323;

}

.square {
    width: 30%;
    background: purple;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;/* Comos quadrads vao ocupar 90% do container, o que sobra  esse 1,66 fica como
    margin 30x3,na primeira linha e 1,66*6 9,96=*/
}

#container {
    /* Centraliza os qadradis*/
    margin: 0 auto;
    max-width: 600px;
}

h1 {
    color: white;
}

span {
    color: white;
}

